body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}

#form {
  display: flex;
}

#input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
}

button {
  padding: 10px;
  background: #2b8a3e;
  color: white;
  border: none;
  cursor: pointer;
}

#messages div {
  margin: 5px 0;
  padding: 10px;
  background: #e0e0e0;
  border-radius: 10px;
}

#messages .mine {
  background: #c7ffc7;
  text-align: right;
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.username-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
#messages .message {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#messages .message img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

#messages .mine {
  background-color: #c7ffc7;
  text-align: right;
  justify-content: flex-end;
}
